<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                    crossorigin="anonymous"></script>

    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 style="text-align:center; margin:auto;">글 쓰기</h1>
        </div>
        <div class="row justify-content-center">
            <div>
                <form action="./boardEdit" method="POST"> {% csrf_token %}
                    <div class="form-group">
                        <label>b_title</label>
                        <input type="text" class="form-control" name="b_title" id="b_title" value="{{edit_board.b_title}}">
                    </div>
                    <div class="form-group">
                        <label>b_text</label>
                        <textarea class="form-control" name="b_text" id="b_text">{{edit_board.b_text}}
                        </textarea>
                    </div>
                    <input type="hidden" class="form-control" name="b_id" id="b_id" value="{{edit_board.b_id}}">
                    <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                </form>
            </div>
        </div>

    </div>
</body>
</html>