<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                    crossorigin="anonymous"></script>

    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 style="text-align:center;">BOARD</h1>
        </div>
        <br>
        <div class="row" style="text-align:center;">

            {% if user.username %}
            <div class="col-6">
                <form action="./boardInsert" method="GET">
                    <button type="submit" class="btn btn-primary btn-sm">Write</button>
                </form>
            </div>
            <div class="col-6">
                <form action="/" method="GET">
                    <button type="submit" class="btn btn-primary btn-sm">Home</button>
                </form>
            </div>
            {% else %}
            <div class="col-12">
                <form action="/" method="GET">
                    <button type="submit" class="btn btn-primary btn-sm">Home</button>
                </form>
            </div>
            {% endif %}
        </div>
        <br>
        <div class="row">
        <table class="table">
            <thead class="thread-light">
                <tr>
                    <td>글 제목</td>
                    <td>글쓴이</td>
                    <td>작성일</td>
                    <td>❤️</td>
                </tr>
            </thead>
            <tbody>
            {% for b in all_board %}
                <tr>
                    <td><a href="/board/boardDetail?b_id={{b.b_id}}">{{b.b_title}}</a></td>
                    <td>{{b.m_id}}</td>
                    <td>{{b.b_datetime}}</td>
                    <td>{{b.b_like}}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        </div>
    </div>
</body>
</html>