<!DOCTYPE html>
<html lang="en">
 <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                    crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

     <script type="text/javascript">

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        var id1 = "{{mem.m_id}}";
        var id2 = "{{user.username}}";

        var sa = "{{ acc_tot_now.acc_sd_now }}";
        var st = "{{ acc_tot_now.acc_s_now }}";
        var fu = "{{ acc_tot_now.acc_f_now }}";

        var d1 =[
              ['Task', 'Hours per Day'],
              ['예적금',   Number(sa)],
              ['주식',      Number(st)],
              ['펀드',  Number(fu)],
            ];

        if (id1!=id2){
            console.log(id1,id2);
            sa = "{{ mem_c_rate.r_sa }}";
            st = "{{ mem_c_rate.r_st }}";
            fu = "{{ mem_c_rate.r_fu }}";

            d1 = [
              ['Task', 'Hours per Day'],
              ['예적금',   Number(sa)],
              ['주식',      Number(st)],
              ['펀드',  Number(fu)],
            ];
        }

        function drawChart() {
            var data = google.visualization.arrayToDataTable(d1);
            var options = {
              title: '자산 분배 현황'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
          }

        function click_love(){
            console.log("hi")
            var m_id = $('input[name=m_id]').val();
            var m_id2 = $('input[name=m_id2]').val();
            console.log(m_id)
            console.log(m_id2)

            $.ajax({
                url: "{%url 'loved'%}",
                data: {
                    'm_id': m_id,
                    'm_id2':m_id2,
                },
                dataType: "json",
                success: function (response) { // ajax 통신이 정상적으로 완료되었을 때
                    console.log("success");
                    location.reload();
                },
                error: function(request,status,error){
                    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            })
        }

        </script>
 </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12 align-self-center">
                    <h1 style="text-align:center;">My Page</h1>
                </div>
            </div>
            <br>
            <div class="row" style="text-align:center;">
                <div class="col-6">
                    <form action="/manageasset" method="GET">
                        <button type="submit" class="btn btn-primary btn-sm">UpdateAsset</button>
                    </form>
                </div>
                <div class="col-6">
                    <form action="/" method="GET">
                        <button type="submit" class="btn btn-primary btn-sm">Home</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="row">
                {% if mem.m_id == user.username %}
                <div class="col-12 align-self-center">
                    <h3 style="text-align:center;">{{ mem.m_name }} 님의 총 자산은 {{ acc_tot_now.acc_tot_now }}원 입니다.</h3>
                </div>
                {% else %}
                <div class="col-12 align-self-center">
                    <h3 style="text-align:center;">{{ mem.m_name }} 님의 총 자산 비율입니다.</h3>
                 </div>
                {% endif %}
            </div>
            <div class="row justify-content-center">
                {% if mem.m_id == user.username %}

                {% else %}
                    {% if is_loved == 'no' %}
                    <div class="col-12 align-self-center">
                        <center> <button class="btn btn-link" id="btn1" onclick="click_love()" style="text-align:center;">🤍</button></center>
                        <input type="hidden" name="m_id" id="m_id" value="{{user.username}}"/>
                        <input type="hidden" name="m_id2" id="m_id2" value="{{mem.m_id}}"/>
                    </div>
                    {% else %}
                    <div class="col-12 align-self-center">
                        <h4 style="text-align:center;">❤️</h4>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-8 align-self-center" style="margin:auto;">
                    <div id="piechart" style="width:auto; margin:auto; height:30rem;"></div>
                </div>
                {% if mem.m_id == user.username %}
                <div class="col-4">
                    <table class="table" style="margin-top:5rem;">
                        <tr>
                            <td colspan="2">이상 비율({{mem.m_sdrate}},{{mem.m_srate}},{{mem.m_frate}})을 맞추기 위한 금액</td>
                        </tr>
                        <tr>
                            <td>예적금</td>
                            <td>{{ idle_asset.sub_idle_sd }}₩</td>
                        </tr>
                        <tr>
                            <td>주식</td>
                            <td>{{ idle_asset.sub_idle_s }}₩</td>
                        </tr>
                        <tr>
                            <td>펀드</td>
                            <td>{{ idle_asset.sub_idle_f }}₩</td>
                        </tr>
                    </table>
                </div>
                {% else %}
                <div class="col-4">
                    <table class="table" style="margin-top:5rem;">
                        <tr>
                            <td colspan="2">이상 비율</td>
                        </tr>
                        <tr>
                            <td>예적금</td>
                            <td>{{mem.m_sdrate}}%</td>
                        </tr>
                        <tr>
                            <td>주식</td>
                            <td>{{mem.m_srate}}%</td>
                        </tr>
                        <tr>
                            <td>펀드</td>
                            <td>{{mem.m_frate}}%</td>
                        </tr>
                    </table>
                </div>
                {% endif %}
            </div>
            {% if mem.m_id == user.username %}
            <div class="row">
                <h3>자산 변화</h3>
                <table class="table"  style="text-align:center;">
                    <thead>
                        <tr>
                            <td>날짜</td>
                            <td>금액</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k,v in acc_tot.items %}
                        <tr>
                            <td> {{k}} </td>
                            <td> {{v}} </td>
                        </tr>
                            {{ k|date:"YMd" }}
                        {% endfor %}
                    </tbody>

                </table>
            </div>
            {% endif %}
        </div>
    </body>
</html>