<!DOCTYPE html>
<html lang="en">
 <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                    crossorigin="anonymous"></script>
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

     <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var sa = "{{ acc_tot_now.acc_sd_now }}";
            var st = "{{ acc_tot_now.acc_s_now }}";
            var fu = "{{ acc_tot_now.acc_f_now }}";

            var data = google.visualization.arrayToDataTable([
              ['Task', 'Hours per Day'],
              ['예적금',   Number(sa)],
              ['주식',      Number(st)],
              ['펀드',  Number(fu)],
            ]);

            var options = {
              title: '자산 분배 현황'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
          }
        </script>
 </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12 align-self-center">
                    <h1 style="text-align:center;">My Page</h1>
                </div>
            </div>
            <br>
            <div class="row" style="text-align:center;">
                <div class="col-6">
                    <form action="/manageasset" method="GET">
                        <button type="submit" class="btn btn-primary btn-sm">UpdateAsset</button>
                    </form>
                </div>
                <div class="col-6">
                    <form action="/" method="GET">
                        <button type="submit" class="btn btn-primary btn-sm">Home</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12 align-self-center">
                    <h3 style="text-align:center;">{{ mem.m_name }} 님의 총 자산은 {{ acc_tot_now.acc_tot_now }}원 입니다.</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-8 align-self-center" style="margin:auto;">
                    <div id="piechart" style="width:auto; margin:auto; height:30rem;"></div>
                </div>
                <div class="col-4">
                    <table class="table" style="margin-top:5rem;">
                        <tr>
                            <td colspan="2">이상 비율({{mem.m_sdrate}},{{mem.m_srate}},{{mem.m_frate}})을 맞추기 위한 금액</td>
                        </tr>
                        <tr>
                            <td>예적금</td>
                            <td>{{ idle_asset.sub_idle_sd }}₩</td>
                        </tr>
                        <tr>
                            <td>주식</td>
                            <td>{{ idle_asset.sub_idle_s }}₩</td>
                        </tr>
                        <tr>
                            <td>펀드</td>
                            <td>{{ idle_asset.sub_idle_f }}₩</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <h3>자산 변화</h3>
                <table class="table"  style="text-align:center;">
                    <thead>
                        <tr>
                            <td>날짜</td>
                            <td>금액</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k,v in acc_tot.items %}
                        <tr>
                            <td> {{k}} </td>
                            <td> {{v}} </td>
                        </tr>
                            {{ k|date:"YMd" }}
                        {% endfor %}
                    </tbody>

                </table>

            </div>

        </div>
    </body>
</html>